{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<script src="blog/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  <script src="{% static 'jquery.fileDownload.js' %}"></script>
   
  <script src="{% static 'vendor/jquery-filedownload/jquery.fileDownload.js' %}"></script>
  

<link rel="stylesheet" href="{% static 'css/hi.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link href="//fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% block head %}
{% endblock %}
</head>
<body>
  <script>
  // vanilla JS version
var progressUrl = "{% url 'celery_progress:task_status' 10 %}";
document.addEventListener("DOMContentLoaded", function () {
  CeleryProgressBar.initProgressBar(progressUrl);
});
  </script>
   <!-- <div class="page-header" style="background-color:white;">
   <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">DOWNLOAD</span></a>

    <h1><a href="/">HISTORY</a></h1> 
    </div>
    -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'jquery.fileDownload.js' %}"></script>
   
  <script src="{% static 'vendor/jquery-filedownload/jquery.fileDownload.js' %}"></script>

</body>

</html>
